{% extends 'base.html' %}

{% block conteudo %}
<h1>Nova Cidade</h1>


<form action="{% url 'cidades-cadastro' %}" method="post">
    <!--    <div class="mb-3">-->
    <!--        <label class="form-label">Nome</label>-->
    <!--        <input type="text" name="nome" class="form-control">-->
    <!--    </div>-->
    <!--    <div class="mb-3 form-check">-->
    <!--        <input type="checkbox" name="capital" class="form-check-input">-->
    <!--        <label class="form-check-label">Capital</label>-->
    <!--    </div>-->
    <!--    <button type="submit" class="btn btn-primary">Submit</button>-->

    {{ form.as_p}}
    {% csrf_token %}

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" href="{% url 'cidades-list' %}" role="button">Back</a>


</form>


{% endblock %}