{% extends 'base.html' %}

{% block conteudo %}
<h1>Cidades Cadastradas</h1>

<p>Nome: {{cidade.nome}} {% if cidade.capital %}<span class="badge text-bg-primary">Capital</span>{% endif %}</p>
<div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start ">
        <a class="btn btn-info" href="{% url 'cidades-editar' cidade.id %}" role="button">Atualizar Registro</a>
        <a class="btn btn-danger" href="{% url 'cidades-list' %}" role="button">Back</a>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-danger" href="{% url 'cidades-remove' cidade.pk %}">Apagar Registo</a>
    </div>
</div>


{% endblock %}